services:
  tor:
    build: . 
    container_name: tor
    # restart: unless-stopped
    volumes:
      - ./tor/config:/config      # For torrc
      - ./tor/keys:/keys   # For HiddenServiceDirs and DataDirectory
